<div class="row">
  <div class="col-sm-12">
    <div class="card shadow my-5 text-center">
      <div class="card-header ">
        <h1>
          {{titulo}}
        </h1>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead class="table-dark">
              <tr>
                <th *ngFor="let columna of columnas">
                  {{columna}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let matricula of matriculas; index as i">
                <td>{{i + 1}}</td>
                <td>{{matricula.nombreEstudiante}}</td>
                <td>{{matricula.nombreDocente}}</td>
                <td>{{matricula.nombreSala}}</td>
                <td>{{matricula.jornada}}</td>
                <td>{{matricula.fechaIngreso}}</td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="eliminar(matricula)" [id]="'btnEliminarMatricula' + i">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success my-2" [routerLink]="['/matricula/crear']" id="linkCrearMatricula">Agregar</a>
      </div>
    </div>
  </div>
</div>
